.wrong-values {
    color: #b92c28;
}

.asterisk {
    color: red;
}

.red {
    color:#d9534f;
}

.green {
    color:#5cb85c;
}

.jumbotron {
    font-size: 21px;
    font-weight: 200;
    color: inherit;
    padding: 10px 0;
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.table.rooms-table > tbody > tr > td {
    vertical-align: middle;
}

.btn-space {
    margin: 5px;
}